html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
}

main {
    flex: 2 1 0;
}

.bg-image {
    flex: 1 1 0;
    background-image: url('./img/unsplash-photo-2.jpg');
    background-attachment: fixed;
    background-size: 50%;
    background-position: 81% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    padding: 1rem 0;
    margin-top: 9rem;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

img {
    width: 5rem;
    height: auto;
}

.bg-image p {
    color: white;
}

.img-source, .img-source a {
    color: black;
    align-self: flex-start;
    font-size: 0.8rem;
}