@font-face {
    font-family: Norse;
    src: url('./assets/Norse-Bold.otf');
} 
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100%;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/*Left Side*/

.bg-image {
    min-width: clamp(20rem, 40vw, 40rem);
    background: url('./assets/unsplash-photo-2.jpg') no-repeat;
    background-size: 55rem;
    background-position: center 0%;
    min-height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.banner {
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 9.75rem;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p {
    margin: 0;
    font-size: 5rem;
    font-family: Norse;
}

img {
    width: 5rem;
    height: auto;
}

.img-source, .img-source a {
    color: black;
    align-self: flex-start;
    font-size: 0.8rem;
    padding: 0.125rem;
}